@charset "UTF-8";

/* Tablets e Desktop */

/* #EB0028 */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
}

@media screen and (min-width: 768px){

    header{
        width: 100vw;
        justify-content: center;
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: fixed;
        top: 0;
        height: 100px;
    }
    
    header > h1 {
        display: flex;
        justify-content: center;
    }
    span#burguer{
        display: none;
    }
    
    menu{

        display: flex;
        justify-content: center;
        padding-top: 11px;     
    }

    menu > ul > li {
        display: inline-block;
    }

    picture.banner{
        display: flex;
        
    }


    picture.ajuda{
        display: flex;
        justify-content: center;
        background-color: #EB0028;
    }

    section.botoes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    section.botoes > img{
        display: flex;
        border-radius: 50%;
        justify-content: flex-start;
        align-items: flex-start ;
        flex-direction: row;
    }

    section.botoes > p{
        display: flex;
        font-size: 14px;
        text-align: justify;
    }



    
    }

