@charset "UTF-8";

/* Mobile First*/

/* #EB0028 */


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
}

section{
    display: flex;
    justify-content: center;

}


header{
    position: relative;
    background-color: #EB0028;
    color: white;
    width: 96.5vw;
    height: 155px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;

}

h1{
    text-align: center;
}

header > div.logo{
    position: relative;
    left: 50%;

    transform: translate(-10%, 13%);
}

span#burguer{
    background-color: #EB0028;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

menu{
    display: none;
}


menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #EB0028;
    color: white;
}

menu > ul > li a:hover{
    background-color: #c70021;
}

picture.banner{
    display: flex;
}

picture.ajuda{
    display: flex;
    justify-content: center;
    background-color: #EB0028;
}


article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    
}
    


